# uncompyle6 version 3.7.4
# Python bytecode 3.5 (3351)
# Decompiled from: Python 3.6.9 (default, Apr 18 2020, 01:56:04) 
# [GCC 8.4.0]
# Embedded file name: build/bdist.linux-x86_64/egg/wodby/api/instance_api.py
# Compiled at: 2020-04-12 05:03:52
# Size of source mod 2**32: 31353 bytes
"""
    Wodby API Client

    Wodby Developer Documentation https://wodby.com/docs/dev  # noqa: E501

    OpenAPI spec version: 3.0.13
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""
from __future__ import absolute_import
import re, six
from wodby.api_client import ApiClient

class InstanceApi(object):
    __doc__ = 'NOTE: This class is auto generated by the swagger code generator program.\n\n    Do not edit the class manually.\n    Ref: https://github.com/swagger-api/swagger-codegen\n    '

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def create_instance(self, data, **kwargs):
        """create_instance  # noqa: E501

        Create instance  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_instance(data, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param RequestInstanceCreate data:  (required)
        :return: ResponseTaskInstance
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_instance_with_http_info(data, **kwargs)
        else:
            data = self.create_instance_with_http_info(data, **kwargs)
            return data

    def create_instance_with_http_info(self, data, **kwargs):
        """create_instance  # noqa: E501

        Create instance  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_instance_with_http_info(data, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param RequestInstanceCreate data:  (required)
        :return: ResponseTaskInstance
                 If the method is called asynchronously,
                 returns the request thread.
        """
        all_params = [
         'data']
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')
        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError("Got an unexpected keyword argument '%s' to method create_instance" % key)
            params[key] = val

        del params['kwargs']
        if 'data' not in params or params['data'] is None:
            raise ValueError('Missing the required parameter `data` when calling `create_instance`')
        collection_formats = {}
        path_params = {}
        query_params = []
        header_params = {}
        form_params = []
        local_var_files = {}
        body_params = None
        if 'data' in params:
            body_params = params['data']
        header_params['Accept'] = self.api_client.select_header_accept([
         'application/json'])
        header_params['Content-Type'] = self.api_client.select_header_content_type([
         'application/json'])
        auth_settings = [
         'ApiKeyAuth']
        return self.api_client.call_api('/instances', 'POST', path_params, query_params, header_params, body=body_params, post_params=form_params, files=local_var_files, response_type='ResponseTaskInstance', auth_settings=auth_settings, async_req=params.get('async_req'), _return_http_data_only=params.get('_return_http_data_only'), _preload_content=params.get('_preload_content', True), _request_timeout=params.get('_request_timeout'), collection_formats=collection_formats)

    def delete_instance(self, id, **kwargs):
        """delete_instance  # noqa: E501

        Delete application instance  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_instance(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Instance ID (required)
        :return: ResponseTask
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_instance_with_http_info(id, **kwargs)
        else:
            data = self.delete_instance_with_http_info(id, **kwargs)
            return data

    def delete_instance_with_http_info(self, id, **kwargs):
        """delete_instance  # noqa: E501

        Delete application instance  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_instance_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Instance ID (required)
        :return: ResponseTask
                 If the method is called asynchronously,
                 returns the request thread.
        """
        all_params = [
         'id']
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')
        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError("Got an unexpected keyword argument '%s' to method delete_instance" % key)
            params[key] = val

        del params['kwargs']
        if 'id' not in params or params['id'] is None:
            raise ValueError('Missing the required parameter `id` when calling `delete_instance`')
        collection_formats = {}
        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']
        query_params = []
        header_params = {}
        form_params = []
        local_var_files = {}
        body_params = None
        header_params['Accept'] = self.api_client.select_header_accept([
         'application/json'])
        header_params['Content-Type'] = self.api_client.select_header_content_type([
         'application/json'])
        auth_settings = [
         'ApiKeyAuth']
        return self.api_client.call_api('/instances/{id}', 'DELETE', path_params, query_params, header_params, body=body_params, post_params=form_params, files=local_var_files, response_type='ResponseTask', auth_settings=auth_settings, async_req=params.get('async_req'), _return_http_data_only=params.get('_return_http_data_only'), _preload_content=params.get('_preload_content', True), _request_timeout=params.get('_request_timeout'), collection_formats=collection_formats)

    def deploy_instance(self, id, **kwargs):
        """deploy_instance  # noqa: E501

        Deploy instance  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.deploy_instance(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Instance ID (required)
        :param RequestInstanceDeploy data: 
        :return: ResponseTask
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.deploy_instance_with_http_info(id, **kwargs)
        else:
            data = self.deploy_instance_with_http_info(id, **kwargs)
            return data

    def deploy_instance_with_http_info(self, id, **kwargs):
        """deploy_instance  # noqa: E501

        Deploy instance  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.deploy_instance_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Instance ID (required)
        :param RequestInstanceDeploy data: 
        :return: ResponseTask
                 If the method is called asynchronously,
                 returns the request thread.
        """
        all_params = [
         'id', 'data']
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')
        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError("Got an unexpected keyword argument '%s' to method deploy_instance" % key)
            params[key] = val

        del params['kwargs']
        if 'id' not in params or params['id'] is None:
            raise ValueError('Missing the required parameter `id` when calling `deploy_instance`')
        collection_formats = {}
        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']
        query_params = []
        header_params = {}
        form_params = []
        local_var_files = {}
        body_params = None
        if 'data' in params:
            body_params = params['data']
        header_params['Accept'] = self.api_client.select_header_accept([
         'application/json'])
        header_params['Content-Type'] = self.api_client.select_header_content_type([
         'application/json'])
        auth_settings = [
         'ApiKeyAuth']
        return self.api_client.call_api('/instances/{id}/deploy', 'POST', path_params, query_params, header_params, body=body_params, post_params=form_params, files=local_var_files, response_type='ResponseTask', auth_settings=auth_settings, async_req=params.get('async_req'), _return_http_data_only=params.get('_return_http_data_only'), _preload_content=params.get('_preload_content', True), _request_timeout=params.get('_request_timeout'), collection_formats=collection_formats)

    def deploy_instance_codebase(self, id, **kwargs):
        """deploy_instance_codebase  # noqa: E501

        Deploy instance codebase  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.deploy_instance_codebase(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Instance ID (required)
        :param RequestInstanceDeployCodebase data: 
        :return: ResponseTask
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.deploy_instance_codebase_with_http_info(id, **kwargs)
        else:
            data = self.deploy_instance_codebase_with_http_info(id, **kwargs)
            return data

    def deploy_instance_codebase_with_http_info(self, id, **kwargs):
        """deploy_instance_codebase  # noqa: E501

        Deploy instance codebase  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.deploy_instance_codebase_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Instance ID (required)
        :param RequestInstanceDeployCodebase data: 
        :return: ResponseTask
                 If the method is called asynchronously,
                 returns the request thread.
        """
        all_params = [
         'id', 'data']
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')
        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError("Got an unexpected keyword argument '%s' to method deploy_instance_codebase" % key)
            params[key] = val

        del params['kwargs']
        if 'id' not in params or params['id'] is None:
            raise ValueError('Missing the required parameter `id` when calling `deploy_instance_codebase`')
        collection_formats = {}
        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']
        query_params = []
        header_params = {}
        form_params = []
        local_var_files = {}
        body_params = None
        if 'data' in params:
            body_params = params['data']
        header_params['Accept'] = self.api_client.select_header_accept([
         'application/json'])
        header_params['Content-Type'] = self.api_client.select_header_content_type([
         'application/json'])
        auth_settings = [
         'ApiKeyAuth']
        return self.api_client.call_api('/instances/{id}/deploy-codebase', 'POST', path_params, query_params, header_params, body=body_params, post_params=form_params, files=local_var_files, response_type='ResponseTask', auth_settings=auth_settings, async_req=params.get('async_req'), _return_http_data_only=params.get('_return_http_data_only'), _preload_content=params.get('_preload_content', True), _request_timeout=params.get('_request_timeout'), collection_formats=collection_formats)

    def get_instance(self, id, **kwargs):
        """get_instance  # noqa: E501

        Retrieve application instance  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_instance(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Instance ID (required)
        :return: Instance
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_instance_with_http_info(id, **kwargs)
        else:
            data = self.get_instance_with_http_info(id, **kwargs)
            return data

    def get_instance_with_http_info(self, id, **kwargs):
        """get_instance  # noqa: E501

        Retrieve application instance  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_instance_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Instance ID (required)
        :return: Instance
                 If the method is called asynchronously,
                 returns the request thread.
        """
        all_params = [
         'id']
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')
        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError("Got an unexpected keyword argument '%s' to method get_instance" % key)
            params[key] = val

        del params['kwargs']
        if 'id' not in params or params['id'] is None:
            raise ValueError('Missing the required parameter `id` when calling `get_instance`')
        collection_formats = {}
        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']
        query_params = []
        header_params = {}
        form_params = []
        local_var_files = {}
        body_params = None
        header_params['Accept'] = self.api_client.select_header_accept([
         'application/json'])
        header_params['Content-Type'] = self.api_client.select_header_content_type([
         'application/json'])
        auth_settings = [
         'ApiKeyAuth']
        return self.api_client.call_api('/instances/{id}', 'GET', path_params, query_params, header_params, body=body_params, post_params=form_params, files=local_var_files, response_type='Instance', auth_settings=auth_settings, async_req=params.get('async_req'), _return_http_data_only=params.get('_return_http_data_only'), _preload_content=params.get('_preload_content', True), _request_timeout=params.get('_request_timeout'), collection_formats=collection_formats)

    def get_instances(self, **kwargs):
        """get_instances  # noqa: E501

        Retrieve instances  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_instances(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str org_id: Organization ID
        :param str server_id: Server ID
        :param str app_id: Application ID
        :param str type: Instance type
        :param str name: Instance name
        :return: list[Instance]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_instances_with_http_info(**kwargs)
        else:
            data = self.get_instances_with_http_info(**kwargs)
            return data

    def get_instances_with_http_info(self, **kwargs):
        """get_instances  # noqa: E501

        Retrieve instances  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_instances_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str org_id: Organization ID
        :param str server_id: Server ID
        :param str app_id: Application ID
        :param str type: Instance type
        :param str name: Instance name
        :return: list[Instance]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        all_params = [
         'org_id', 'server_id', 'app_id', 'type', 'name']
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')
        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError("Got an unexpected keyword argument '%s' to method get_instances" % key)
            params[key] = val

        del params['kwargs']
        collection_formats = {}
        path_params = {}
        query_params = []
        if 'org_id' in params:
            query_params.append(('org_id', params['org_id']))
        if 'server_id' in params:
            query_params.append(('server_id', params['server_id']))
        if 'app_id' in params:
            query_params.append(('app_id', params['app_id']))
        if 'type' in params:
            query_params.append(('type', params['type']))
        if 'name' in params:
            query_params.append(('name', params['name']))
        header_params = {}
        form_params = []
        local_var_files = {}
        body_params = None
        header_params['Accept'] = self.api_client.select_header_accept([
         'application/json'])
        header_params['Content-Type'] = self.api_client.select_header_content_type([
         'application/json'])
        auth_settings = [
         'ApiKeyAuth']
        return self.api_client.call_api('/instances', 'GET', path_params, query_params, header_params, body=body_params, post_params=form_params, files=local_var_files, response_type='list[Instance]', auth_settings=auth_settings, async_req=params.get('async_req'), _return_http_data_only=params.get('_return_http_data_only'), _preload_content=params.get('_preload_content', True), _request_timeout=params.get('_request_timeout'), collection_formats=collection_formats)

    def upgrade_instance(self, id, **kwargs):
        """upgrade_instance  # noqa: E501

        Upgrade instance  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.upgrade_instance(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Instance ID (required)
        :return: ResponseTask
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.upgrade_instance_with_http_info(id, **kwargs)
        else:
            data = self.upgrade_instance_with_http_info(id, **kwargs)
            return data

    def upgrade_instance_with_http_info(self, id, **kwargs):
        """upgrade_instance  # noqa: E501

        Upgrade instance  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.upgrade_instance_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Instance ID (required)
        :return: ResponseTask
                 If the method is called asynchronously,
                 returns the request thread.
        """
        all_params = [
         'id']
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')
        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError("Got an unexpected keyword argument '%s' to method upgrade_instance" % key)
            params[key] = val

        del params['kwargs']
        if 'id' not in params or params['id'] is None:
            raise ValueError('Missing the required parameter `id` when calling `upgrade_instance`')
        collection_formats = {}
        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']
        query_params = []
        header_params = {}
        form_params = []
        local_var_files = {}
        body_params = None
        header_params['Accept'] = self.api_client.select_header_accept([
         'application/json'])
        header_params['Content-Type'] = self.api_client.select_header_content_type([
         'application/json'])
        auth_settings = [
         'ApiKeyAuth']
        return self.api_client.call_api('/instances/{id}/upgrade', 'POST', path_params, query_params, header_params, body=body_params, post_params=form_params, files=local_var_files, response_type='ResponseTask', auth_settings=auth_settings, async_req=params.get('async_req'), _return_http_data_only=params.get('_return_http_data_only'), _preload_content=params.get('_preload_content', True), _request_timeout=params.get('_request_timeout'), collection_formats=collection_formats)

    def upgrade_instances(self, data, **kwargs):
        """upgrade_instances  # noqa: E501

        Upgrade instances  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.upgrade_instances(data, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param RequestInstancesUpgrade data:  (required)
        :return: ResponseTask
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.upgrade_instances_with_http_info(data, **kwargs)
        else:
            data = self.upgrade_instances_with_http_info(data, **kwargs)
            return data

    def upgrade_instances_with_http_info(self, data, **kwargs):
        """upgrade_instances  # noqa: E501

        Upgrade instances  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.upgrade_instances_with_http_info(data, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param RequestInstancesUpgrade data:  (required)
        :return: ResponseTask
                 If the method is called asynchronously,
                 returns the request thread.
        """
        all_params = [
         'data']
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')
        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError("Got an unexpected keyword argument '%s' to method upgrade_instances" % key)
            params[key] = val

        del params['kwargs']
        if 'data' not in params or params['data'] is None:
            raise ValueError('Missing the required parameter `data` when calling `upgrade_instances`')
        collection_formats = {}
        path_params = {}
        query_params = []
        header_params = {}
        form_params = []
        local_var_files = {}
        body_params = None
        if 'data' in params:
            body_params = params['data']
        header_params['Accept'] = self.api_client.select_header_accept([
         'application/json'])
        header_params['Content-Type'] = self.api_client.select_header_content_type([
         'application/json'])
        auth_settings = [
         'ApiKeyAuth']
        return self.api_client.call_api('/instances/upgrade', 'POST', path_params, query_params, header_params, body=body_params, post_params=form_params, files=local_var_files, response_type='ResponseTask', auth_settings=auth_settings, async_req=params.get('async_req'), _return_http_data_only=params.get('_return_http_data_only'), _preload_content=params.get('_preload_content', True), _request_timeout=params.get('_request_timeout'), collection_formats=collection_formats)